{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Add a Task</h1>
</div>

<!-- create task form -->
<form action="{% url 'task_create' %}" method="POST" >{% csrf_token %}
<div class="row">
<!-- Start of column field -->
    <div class="col-lg-6">
        <div class="form-group">
          <label class="control-label">Title</label>
          {{ form.title.errors }}
          {{ form.title }}
        </div>

        <!-- TOdo fill later -->
        <div class="form-group">
          <label class="control-label">Start date</label>
          <div class="input-append date" id="dp3" data-date-format="dd-mm-yyyy">

              {{ form.start_date.error }}
              {{ form.start_date }}
            <span class="add-on"><i class="icon-th"></i></span>
           </div>
        </div>

        <div class="form-group">
          <label class="control-label">Due date</label>
          <div class="input-append date" data-date-format="dd-mm-yyyy">

              {{ form.due_date.error }}
              {{ form.due_date }}
            <span class="add-on"><i class="icon-th"></i></span>
           </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="form-group has-error">
          <label class="control-label">Task list</label>
          {{ form.todo_list.error }}
          {{ form.todo_list }}
        </div>

        <div class="form-group has-success">
          <label class="control-label">Completed</label>
          {{ form.completed.error }}
          {{ form.completed }}
        </div>

        <div class="form-group">
          <label class="control-label">Priority</label>
          {{ form.priority.error }}
          {{ form.priority }}
        </div>

    </div>
</div>
<!-- End of column block field -->

<!-- Final row of text field -->
<div class="row">
    <div class="form-group">
      <label class="control-label">Description</label>
       {{ form.description.error }}
       {{ form.description }}
    </div>
</div>
<!-- end of this field -->

<!-- Submit button -->
<div class="form-group">
  <div class="col-lg-10 col-lg-offset-2">
    <button class="btn btn-default">Cancel</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</form>

{% endblock %}
