{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1>Task List</h1>
</div>

<!-- A list of task panel -->
{% for list_dict in task_listing %}


    <!--<div class="panel panel-success">-->
    <div class="panel">
        <div class="panel-heading">
        <h3 class="panel-title">{{ list_dict.list_object.title }}</h3>
        </div>
    <div class="panel-body">

     <!-- Table of tasks -->
    <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>Task</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for task in list_dict.list_tasks %}
          <tr>
            <td>1</td>
            <td>{{ task.title }}</td>
            <td>{{ task.completed }}</td>
            <td>
                <form action="{% url 'task_delete' task.id %}" method="POST">
                    <button type="button" class="btn btn-success" ac>
                        <!--<a href="{% url 'task_delete' task.id %}">-->
                            Edit
                        <!--</a>-->
                    </button>
                </form>
                <button type="button" class="btn btn-primary">Delete</button>
            </td>
          </tr>
        {% endfor %}

        </tbody>
    <ul>

        <li>Number of items: {{ list_dict.task_count }}</li>

        <li>Number completed: {{ list_dict.tasks_complete }} ({{ list_dict.percent_complete }}%)</li>

    </ul>
    </table>
    </div>
    </div>

{% endfor %}  

{% endblock %}